@model IEnumerable<SGP.Models.Persona>

@{
    ViewBag.Title = "Gestionar Clientes";
}

<h3>Gestionar Clientes</h3>


@using (Html.BeginForm())
{
    <p class="row">
        <div class="col-md-1">Nombres:</div> <div class="col-md-2">@Html.TextBox("txtnombre")</div>
    </p>
    <p class="row">
        <div class="col-md-1">Apellidos:</div> <div class="col-md-2">@Html.TextBox("txtapellido")</div>
    </p>
    <p class="row">
        <div class="col-md-1">Ciudad:</div> <div class="col-md-2">@Html.DropDownList("ciudadid", "--------CUALQUIERA--------")</div>
    </p>
    <p class="row">
        <div class="col-md-1"></div> <div class="col-md-2"><input type="submit" value="Consultar" class="btn btn-default" /></div>
    </p>
}
<br />

<p class="row">
    <div class="col-md-offset-0">@Html.ActionLink("(+) Crear nuevo registro", "Create")</div>
</p>


<table class="table">
    <tr>
        <th>
            Nombres
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Ciudad
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad.nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
