
@{
    ViewBag.Title = "Index";
}

<h2>Módulo de Configuración</h2>

<hr />

<p>
    @Html.ActionLink("Gestionar Datos Tipos de Producto", "GestionarTiposProducto", "Configuracion")
</p>
<p>
    @Html.ActionLink("Gestionar Datos Estado Pago", "GestionarEstadoPago", "Configuracion")
</p>
<p>
    @Html.ActionLink("Gestionar Datos Pais", "GestionarPais", "Configuracion")
</p>
<p>
    @Html.ActionLink("Gestionar Datos Departamento", "GestionarDepartamento", "Configuracion")
</p>
<p>
    @Html.ActionLink("Gestionar Datos Ciudad", "GestionarCiudad", "Configuracion")
</p>